/* comments */

.comments {
    margin: 2rem;
}

.comments .caption {
    color: var(--caption-color);
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.comment-table {
    border-collapse: collapse;
}

.comment-table td {
    border-top: 1px solid var(--datatable-color);
    padding: 0.5rem 0.5rem 3rem 0.5rem;
}

.comment-table .login {
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.comment-table .text {
    font-size: 0.75rem;
    max-width: 40rem;
    overflow-wrap: break-word;
}
